.videoSidebar {
  position: absolute;
  top: 50%;
  right: 10px;
  color: #fff;
}

.videoSidebar_button {
  padding: 5px;
  text-align: center;
}

.videoSidebar_button p {
  margin-top: -5px;
}
